<div class="contact-name">
  <h1>{{view.guest.fullName}}</h1>
</div>
<div class="contact-details">
  <h2>Contact Details</h2>
  <dl class="virtual">
    <dt>Phone:</dt><dd>{{view.guest.phone}}</dd>
    <dt>Mobile:</dt><dd>{{view.guest.mobile}}</dd>
    <dt>Email:</dt><dd><a href="mailto:{{view.guest.email}}">{{view.guest.email}}</a></dd>
  </dl>
  <dl class="physical">
    <dt>Address:</dt>
    <dd>
      <address>{{view.guest.fullAddress}}</address>
    </dd>
  </dl>
  <!-- address: {
		address1: String,
		address2: String,
		address3: String,
		town: String,
		county: String,
		postcode: String,
	},
	phone: String,
	mobile: String,
	email: String, -->
</div>
